/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 130%;
  background-image: var(--background-image);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--decor-color);
  background-color: transparent;
  font: inherit;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border-color: var(--button-hover-color);
}

.header__text {
  align-self: center;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  padding-inline-end: 19px;
  color: var(--accent-color);
}

.header__rec::after {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-start: 8px;
  inset-inline-end: 0;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--main-title-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decorated-text-color);
}

.main {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  padding-block-start: 40px;
}
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-color: var(--accent-color);
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-card {
  display: grid;
  gap: 10px;
}

.content-section__title {
  color: var(--decor-color);
}

.content-card__title_regular {
  font-weight: 400;
}

.content-card__text:not(:last-child) {
  margin-block-end: 10px;
}

.content-card__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.content-card__link:hover {
  border-block-end: 1px solid currentColor;
}

.content-card__link:focus {
  outline: none;
}

.content-card__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
}

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding-block: 20px;
    padding-inline: 0;
  }

  .footer {
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 166px;
    margin-inline-end: 20px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 10px;
  }

  .header__text {
    justify-self: end;
    inline-size: 50%;
    margin-inline-end: 20px;
  }

  .main {
    gap: 80px;
    padding-block-start: 60px;
    padding-block-end: 60px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .content-section_type_why {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_type_why .content-card {
    grid-column: 2;
  }

  .content-section_type_reasons .content-section__title {
    inline-size: 30%;
  }

  .content-section_type_advice {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_type_advice .content-section__title {
    grid-row: 1 / span 6;
    align-self: start;
  }

  .content-section_type_advice .content-section__subtitle,
  .content-section_type_advice .content-card {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__image:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery__image:nth-child(3) {
    grid-area: tape;
  }

  .gallery__image:nth-child(4) {
    grid-area: books;
  }

  .gallery__image:nth-child(5) {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .content-section_type_reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section_type_reasons .content-card {
    grid-row: 2;
    align-content: start;
  }
}
